{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="home">
  <div class="landing-intro"></div>
  <div class="ui center aligned container hero">
    <h1 class="ui header">{{ctx.Locale.Tr "home.landing.heading"}}</h1>
    <h2>{{ctx.Locale.Tr "home.landing.subheading"}}</h2>
    <form action="{{AppSubUrl}}/user/sign_up">
      <div class="landing-cta-container">
        <div class="landing-cta-input-container">
          <input class="landing-email" type="email" id="email" name="user_email" size="50" placeholder="Enter your email" />
          <button class="ui button cta"><span>{{ctx.Locale.Tr "home.landing.cta_button"}}</span></button>
        </div>
        <a href="#learn" class="landing-secondary-cta">{{ctx.Locale.Tr "home.landing.secondary_cta"}}{{svg "octicon-chevron-right"}}</a>
      </div>
    </form>
  </div>

  <div class="landing-benefits">
    <div class="landing-benefits-item item-1">
      <div class="landing-benefits-left">
        <h3>{{ctx.Locale.Tr "home.landing.benefits_item_1.title"}}</h3>
        <p>{{ctx.Locale.Tr "home.landing.benefits_item_1.body"}}</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/commits_laptop.webp" alt="{{ctx.Locale.Tr "logo"}}" aria-hidden="true" loading="lazy">
      </div>
    </div>
    <div class="landing-benefits-item item-2">
      <div class="landing-benefits-left">
        <h3>{{ctx.Locale.Tr "home.landing.benefits_item_2.title"}}</h3>
        <p>{{ctx.Locale.Tr "home.landing.benefits_item_2.body"}}</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/iphone_review.webp" alt="{{ctx.Locale.Tr "logo"}}" aria-hidden="true" loading="lazy">
      </div>
    </div>
    <div class="landing-benefits-item item-3">
      <div class="landing-benefits-left">
        <h3>{{ctx.Locale.Tr "home.landing.benefits_item_3.title"}}</h3>
        <p>{{ctx.Locale.Tr "home.landing.benefits_item_3.body"}}</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/collab_laptop.webp" alt="{{ctx.Locale.Tr "logo"}}" aria-hidden="true" loading="lazy">
      </div>
    </div>
    <div class="landing-benefits-item item-4">
      <div class="landing-benefits-left">
        <h3>{{ctx.Locale.Tr "home.landing.benefits_item_4.title"}}</h3>
        <p>{{ctx.Locale.Tr "home.landing.benefits_item_4.body"}}</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/approval_laptop.webp" alt="{{ctx.Locale.Tr "logo"}}" aria-hidden="true" loading="lazy">
      </div>
    </div>
    <div class="landing-benefits-item item-5">
      <div class="landing-benefits-left">
        <h3>{{ctx.Locale.Tr "home.landing.benefits_item_5.title"}}</h3>
        <p>{{ctx.Locale.Tr "home.landing.benefits_item_5.body"}}</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/project_laptop.webp" alt="{{ctx.Locale.Tr "logo"}}" aria-hidden="true" loading="lazy">
      </div>
    </div>
  </div>

  {{template "pay/pricing" .}}

  <div class="outro">
    <div class="ui center aligned container alternative-cta">
      <h1 class="ui header">{{ctx.Locale.Tr "home.landing.footer.heading"}}</h1>
      <h2>{{ctx.Locale.Tr "home.landing.footer.subheading"}}</h2>
      <form action="{{AppSubUrl}}/user/sign_up">
        <div class="landing-cta-container">
          <div class="landing-cta-input-container">
            <input class="landing-email" type="email" id="email" name="user_email" size="50" placeholder="Enter your email" />
            <button class="ui button cta"><span>{{ctx.Locale.Tr "home.landing.footer.cta_button"}}</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{template "base/footer" .}}
