{{if .File}}
{{$isPdoc := (call $.IsPdocFile .File)}}
<div class="diff-file-box">
	<div class="ui attached table segment">
    {{if $isPdoc}}
      <div class="markup pdiff file-view code-diff-unified unicode-escaped">
        {{template "repo/diff/pdoc_diff" dict "file" .File "root" $}}
      </div>
    {{else}}
      <div class="file-body file-code code-diff code-diff-unified unicode-escaped">
        <table>
          <tbody>
            {{template "repo/diff/section_unified" dict "file" .File "root" $}}
          </tbody>
        </table>
      </div>
    {{end}}
	</div>
</div>
{{else}}
<div class="tw-p-6 tw-text-center">
	{{ctx.Locale.Tr "repo.editor.no_changes_to_show"}}
</div>
{{end}}
