.snapdiff .add {
  background-color:var(--color-diff-added-word-bg);
}

.snapdiff .rem {
  background-color:var(--color-diff-removed-word-bg);
}

.snapdiff .spc {
  background-color:var(--color-diff-moved-row-bg);
}
